#portfolio .content{
    /* background-color: rgb(255, 255, 255); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#portfolio .content .box{
    box-sizing: border-box;
    background: linear-gradient(rgb(1, 20, 65),rgb(175, 34, 34));
    height: auto;
    width: 35%;
   margin: 20px;
   /* border-radius: 8px; */
   /* border: 2px solid black; */
   font-family: 'Baloo Bhai 2';
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow:  0 10px 30px#414186;

}
#portfolio .content .box h3{
    color: #fff;
    text-decoration: underline;
    font-family: 'Silkscreen';
}

#portfolio .content .box .stack{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Acme';
    word-spacing: 5px;
}
#portfolio .content .box .text{
    font-weight: bold;
    color: #fff;
    padding: 4px 4px;
    text-align: center;
}
#portfolio .content .box .proj-img img{
    margin-top: 20px;
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 5px solid white;
}
#portfolio .sec-head{
    text-align: center;
    color:var(--primary-text-color);
    font-size: 2.5rem;
    padding:1rem 0;
    font-weight: bolder;
}
#portfolio .proj-btn{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
#portfolio .proj-btn .btn{
    display: flex;
    width: 7rem;
    margin: 2rem;
    height: 4rem;
    font-family: 'Baloo Bhai 2';
    background-color: rgb(236, 160, 160);
    color:rgb(0, 0, 0);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}