<section id="portfolio">
    <div class="sec-head"><span class="heading">My<span style="color:rgb(24, 45, 70)"> Portfolio</span></span></div>
    <div class="content">
        <p>
        <div class="box">
            <h3>Tic-Tac-Toe</h3>
            <div class="proj-img">
                <img src="../../../assets/img/XOXO.png" alt="projpic">
            </div>
            <p class="text">Basic beginner level, multiplayer Tic Tac Toe game developed using HTML CSS & Vanilla Js
                for the game logic. </p>
            <h3 class="stack">Stack/Languages: <i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i></h3>
            <div class="proj-btn">
                <button class="btn">Live</button><button class="btn">Github</button>
            </div>
        </div>
        <div class="box">
            <h3>Food Ordering Website</h3>
            <div class="proj-img">
                <img src="../../../assets/img/FoodOrder.png" alt="projpic">
            </div>
            <p class="text">Food Ordering Website mainly designed and developed for cricket lovers who would wish to enjoy delicacies of restaurants in and around the cricket stadium while watching the match. Services like takeway and delivery are available..</p>
            <h3 class="stack">Stack/Languages: <i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i> <i class="fab fa-php"></i></h3>
            <div class="proj-btn">
                <button class="btn">Live</button><button class="btn">Github</button>
            </div>
        </div>
        <div class="box">
            <h3>Snake Game</h3>
            <div class="proj-img">
                <img src="../../../assets/img/SnakeGame.png" alt="projpic">
            </div>
            <p class="text">Relive your childhood by playing the SnakeGame similar to that on the Nokia phones. Designed using simple HTML CSS and Vanilla Js. Your score is stored in local session storage using JavaScript.. So try beating your high score everytime you play!!</p>
            <h3 class="stack">Stack/Languages: <i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i></h3>
            <div class="proj-btn">
                <button class="btn">Live</button><button class="btn">Github</button>
            </div>
        </div>
    </div>
</section>