/* You can add global styles to this file, and also import other style files */

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

/* CSS variables */
:root{
    --navbar-height: 59px;
    --main-color:rgb(0, 33, 82);
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:rgb(14, 13, 13);
    --secondary-text-color:rgb(26, 23, 23);
    --check: #000;
    --ball:#f2eee3;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

body{
    background:var(--secondary-bg-color);
}
section{
    min-height: 100vh;
    padding:1rem;
    padding:0 8%;
}
.heading{
    
    font-size: 5rem;
    color:var(--primary-text-color);
    font-weight: bolder;
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color:var(--main-color) ;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
