/* Media query for screens smaller than 768px */
@media screen and (max-width: 767px) {
    section{
        min-height: 50vh;
    }
    /* Navbar */
    #navbar {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
    }
    #navbar a {
      margin: 10px;
      padding: 10px 20px;
      font-size: medium;
      text-align: center;
    }
    
    /* Intro section */
    .intro {
      padding: 100px 15px;
      width: 100%;
      font-size: 15px;
      height: auto;
    }
    #intro_text{
        
        font-size: 30px;
    }
    .img_container {
      display: none;
    }
    .heading{
        font-size: 30px;
    }
    .about .row-1 .content p{
        font-size: 15px;
     }
    .about .row .box .exp-box h3{
        font-size: 15px;
     }
     .about .row .box .exp-box p{
        font-size: 15px;
     }
    #portfolio .content{
        /* background-color: rgb(255, 255, 255); */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    #portfolio .content .box{
        width: 90%;
    }
    #portfolio .content .box .proj-img img{
        
        height: 150px;
        width: 275px;
        
    }
  }
  
  /* Media query for screens between 768px and 1023px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    section{
        min-height: 50vh;
    }
    /* Navbar */
    .img_container::after{
        display: none;
    }
    .img_container::before{
        display: none;
    }
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    #navbar a {
      font-size: large;
    }
  
    /* Intro section */
    .intro {
      padding: 100px 30px;
      width: 70%;
      height: auto;
    }
    #intro_text {
      font-size: 50px;
    }
    #image {
      height: 300px;
      width: 260px;
    }
    
    #portfolio .content .box .proj-img img{
        margin-top: 20px;
        height: 150px;
        width: 200px;
        border-radius: 4px;
        border: 5px solid white;
    }
  }
  
  /* Media query for screens larger than 1024px */
  @media screen and (min-width: 1024px) {
    section{
      min-height: 100vh;
  }
    /* Navbar */
    #navbar {
      position: fixed;
      justify-content: center;
      z-index: 100;
      height: var(--navbar-height);
      width: 100%;
    }
    #navbar a {
      margin: 0 30px;
      font-size: larger;
    }
  
    /* Intro section */
    .intro {
      padding: 200px 30px;
      width: 60vw;
    }
    #intro_text {
      font-size: 60px;
    }
  }
  