@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Staatliches&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arima&family=Cutive&family=Special+Elite&family=Trispace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

/* CSS variables */
:root{
    --navbar-height: 59px;
    --main-color:rgb(0, 33, 82);
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:rgb(14, 13, 13);
    --secondary-text-color:rgb(26, 23, 23);
    --check: #000;
    --ball:#f2eee3;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

body{
    background:var(--secondary-bg-color);
}
section{
    min-height: 100vh;
    padding:1rem;
    padding:0 8%;
}
/* .dark{
    --main-color:rgb(8, 46, 63);
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:rgb(14, 13, 13);
    --secondary-text-color:rgb(26, 23, 23);
    --check: #000;
    --ball:#f2eee3;
}
.dark-mode{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    transition: .5s;
}
.checkbox:checked+.label .ball{
    transform: translateX(24px);
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    width: 50px;
    height: 26px;
    background: var(--check);
    border-radius: 50px;
    padding: 5px;
    position: relative;
}
.ball{
    position: relative;
    top:2px;
    left:2px;
    height: 22px;
    background: var(--ball);
    border-radius: 50%;
    transition: transform 0.2s linear;
} */
/* Custom Cursor */
.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: black;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid black;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

.heading{
    
    font-size: 5rem;
    color:var(--primary-text-color);
    font-weight: bolder;
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color:var(--main-color) ;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

#navbar{
    background-color: rgb(1, 6, 46);
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: large;
}
#navbar a{
    box-sizing: border-box;
    color: var(--primary-bg-color);
    margin-left: 50px;
    padding: 15px 30px;
    font-family: 'Epilogue',sans-serif;
    font-size: larger;
}
#navbar a span{
    padding: 10px 10px;
}
#navbar a :hover{
    cursor:pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(178, 220, 240);
    border-radius: 5px;
}
#home{
    display: flex;
}

.intro{
    background-color: rgb(228, 244, 250);
    font-size: 25px;
    font-family: 'Concert One';
    text-align: left;
    padding: 200px 30px;
    width: 60vw;
    height: 100vh;
}
#intro_text{
    color: rgb(148, 0, 0);
    font-size: 60px;
}
.img_container{
    height: 100vh;
    width: 40vw;
    background: linear-gradient(rgb(1, 20, 65),rgb(175, 34, 34));
    display: flex;
    align-items: center;
    justify-content: center;
}
#image{
    margin: auto;
    height:400px;
    width: 350px;
    border: 2px solid white;
    padding: 4px;
    border-radius: 50px;
}
.img_container::after
{
    content: '';
    position: relative;
    height: 107px;
    width: 100px;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    right: 60px;
    bottom: -194px;
}
.img_container::before
{
    content: '';
    position: relative;
    height: 107px;
    width: 100px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    left: 60px;
    top: -194px;
}
.button{
    padding:30px 70px;
    position: absolute;
}
.btn{
    width: 20rem;
    margin: auto;
    padding:10px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Cutive',sans-serif;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(168, 195, 227);
}
.btn a{
    color:rgb(0, 0, 0)
}
/* #about{
    font-family: 'Epilogue',sans-serif;
    font-size: larger;
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
}
.about_container{
    font-size: 25px;
    background-color: rgb(90, 90, 90);
    padding: 20px 30px;
}
.info{
    padding-left: 20px;
    padding-top: 20px;
    height:500px;
    background-color: aquamarine;
} */
#about-image{
    height: 400px;
    width: 200px;
}
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .about-image{
    flex:1 1 25rem;
}

.about .row-1 .about-image {
    height: 100%;
    width:100%;
    object-fit: cover;
    border:1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    box-shadow:  10px 20px 40px rgb(11, 36, 83);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color:#333;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color:rgb(0, 33, 82);
    margin: 10px;
    font-size: 2.4rem;
    font-weight: bolder;
    font-family: 'Gentium Book Plus';
    padding:1rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.about .row .box{
    flex:1 1 40rem;
    background-color: var(--primary-bg-color);
    border-radius: .5rem;
    box-shadow:  0 10px 20px rgb(11, 36, 83);
    padding:.5rem 1.5rem;
    margin:1.5rem;
}

.about .row .box .title{
    color:rgb(4, 9, 40);
    font-size: 3rem;
    font-family:'Concert One' ;
    padding:1rem 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.about .row .box .exp-box{
    padding:0 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-left: .2rem solid var(--main-color);
    position: relative;

}

.about .row .box .exp-box h3{
    text-decoration: underline;
    color:var(--main-color);
    font-size: 2.2rem;
    font-weight: bolder;
    font-family: 'Lucida Sans',sans-serif;
}

.about .row .box .exp-box p{
    color:rgb(0, 33, 82);
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Gentium Book Plus';
    padding:1rem 0;
}

.about .row .box .exp-box::before{
    content:'';
    position: absolute;
    top:0; left: -1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background: var(--main-color);
}
#portfolio .content{
    /* background-color: rgb(255, 255, 255); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#portfolio .content .box{
    box-sizing: border-box;
    background: linear-gradient(rgb(1, 20, 65),rgb(175, 34, 34));
    height: auto;
    width: 35%;
   margin: 20px;
   /* border-radius: 8px; */
   /* border: 2px solid black; */
   font-family: 'Baloo Bhai 2';
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow:  0 10px 30px#414186;

}
#portfolio .content .box h3{
    color: #fff;
    text-decoration: underline;
    font-family: 'Silkscreen';
}

#portfolio .content .box .stack{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Acme';
    word-spacing: 5px;
}
#portfolio .content .box .text{
    font-weight: bold;
    color: #fff;
    padding: 4px 4px;
    text-align: center;
}
#portfolio .content .box .proj-img img{
    margin-top: 20px;
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 5px solid white;
}
#portfolio .sec-head{
    text-align: center;
    color:var(--primary-text-color);
    font-size: 2.5rem;
    padding:1rem 0;
    font-weight: bolder;
}
#portfolio .proj-btn{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
#portfolio .proj-btn .btn{
    display: flex;
    width: 7rem;
    margin: 2rem;
    height: 4rem;
    font-family: 'Baloo Bhai 2';
    background-color: rgb(236, 160, 160);
    color:rgb(0, 0, 0);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
#blog .sec-head{
    text-align: center;
}
#blog .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(rgb(1, 20, 65),rgb(175, 34, 34));
}

#blog .box-container .box{
    width:33rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    background: var(--primary-bg-color);
    overflow: hidden;
}

#blog .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#blog .box-container .box .content{
    padding:1.5rem;
}

#blog .box-container .box .content .info{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    color:var(--primary-text-color);
    background:var(--secondary-bg-color);
    padding:1rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

#blog .box-container .box .content .info i{
    color:var(--main-color);
    padding:0 1rem;
}

#blog .box-container .box .content .title{
    color:var(--primary-text-color);
    display: block;
    font-family: 'Cutive';
    font-size: 2.5rem;
    padding:.5rem 0;
}

#blog .box-container .box .content .title:hover{
    text-decoration: underline;
    color:var(--main-color);
}

#blog .box-container .box .content p{
    font-family: 'Trispace';
    color:var(--secondary-text-color);
    padding:.5rem 0;
    font-size: 1.5rem;
}
.blog-btn{
    font-family: 'Baloo Bhai 2';
    font-size: 1.5rem;
}
#contact{
    background-color: rgb(210, 227, 239);
}
#contact-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#contact-form input{
    margin: 0.5rem;
    padding: 1.5rem;
    border: 2px solid black;
}
#contact-form .btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: auto;
    font-size: small;
}
.contact{
    text-align: center;
    color:var(--primary-text-color);
    font-size: 2.5rem;
    padding:1rem 0;
    font-weight: bolder;
    height: 100%;
}
.contact .follow a{
    font-size: 3.5rem;
    color:rgb(2, 2, 2);
    margin:1rem 2rem;
}

.contact .follow a:hover{
    color:var(--main-color);
    font-size: 3.75rem;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #navbar{
        display: initial;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

}
