<section id="contact">
    <div class="contact"><span class="heading">Contact <span style="color:rgb(24, 45, 70)">Me</span></span>
        <div class="follow">
            <a href="https://www.linkedin.com/in/adnan-sattikar-b53293208" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://github.com/AdSattikar" target="_blank"class="fab fa-github"></a>
            <a href="https://www.facebook.com/profile.php?id=100008966492339" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/adnan_sattikar" target="_blank" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com/adnansattikar/" target="_blank" class="fab fa-instagram"></a>
        </div>
    </div>
    <form action="" id="contact-form" >
        <input type="text" name="text" placeholder="Your Name" id="fname" value="" required>
        <input type="email" name="email" placeholder="Email" id="fmail" value=""required>
        <input type="number" name="number" placeholder="Phone Number" id="fph" value="" required>
        <input type="text" name="message" placeholder="Message" id="fmsg" value="">
        <div>
            <button class="btn" type="submit" id="formbtn">
                Submit
            </button>
        </div>
    </form>
</section>
