#contact{
    background-color: rgb(210, 227, 239);
}
#contact-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#contact-form input{
    margin: 0.5rem;
    padding: 1.5rem;
    border: 2px solid black;
}
#contact-form .btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: auto;
    font-size: small;
}
.contact{
    text-align: center;
    color:var(--primary-text-color);
    font-size: 2.5rem;
    padding:1rem 0;
    font-weight: bolder;
    height: 100%;
}
.contact .follow a{
    font-size: 3.5rem;
    color:rgb(2, 2, 2);
    margin:1rem 2rem;
}

.contact .follow a:hover{
    color:var(--main-color);
    font-size: 3.75rem;
}