<section id="blog">
    <div class="sec-head"><span class="heading" style="color:rgb(24, 45, 70)">Blog</span>

        <div class="box-container">

            <div class="box">
                <img src="" alt="">
                <div class="content">
                    <h3 class="info"> <i class="fas fa-user"></i> by, admin <i class="fas fa-calendar"></i> 1st may,
                        2021 </h3>
                    <a href="#" class="title"> Send emails using PHP mail()</a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in molestias deleniti fugit
                        excepturi atque cum animi harum distinctio et.</p>
                    <a href="#" class="blog-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="" alt="">
                <div class="content">
                    <h3 class="info"> <i class="fas fa-user"></i> by, admin <i class="fas fa-calendar"></i> 1st may,
                        2021 </h3>
                    <a href="#" class="title"> Send emails using Nodemailer and ExpressJS</a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in molestias deleniti fugit
                        excepturi atque cum animi harum distinctio et.</p>
                    <a href="#" class="blog-btn">read more</a>
                </div>
            </div>
        </div>
    </div>
</section>